/* Styly pro celou stránku */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Styly pro záhlaví stránky */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

/* Styly pro hlavní obsah stránky */
main {
    padding: 20px;
}

/* Styly pro poznámky */
.notes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.note {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    width: 250px;
    height: auto;
    position: relative;
}

.note h2 {
    margin: 0;
}

.note p {
    margin: 0;
    overflow-wrap: break-word;
}

.note-content {
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 10px;
    right: 30px;
}

.note .edit-button {
    background-color: green;
    color: white;
    border: none;
    top: 110px;
    right: 10px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.note .delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

/* Styly pro formulář pro přidání poznámky */
.note-form {
    visibility: hidden;
    width: 50%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.note-form.expanded {
    visibility: visible;
    max-height: 500px;
}

.note-form label {
    display: block;
    margin-bottom: 5px;
}

.note-form input[type="text"],
.note-form textarea {
    width: 98%;
    padding: 5px;
    margin-bottom: 10px;
    resize: none;
}

.note-form button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}


/* Styly pro přihlášení uživatele */
.login-form {
    width: 25%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
}

.login-form button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Styly pro přihlášeného uživatele */
.user-info {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;

}
.note-button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}


@media (max-width: 480px) {
    header {
        padding: 10px;
    }

    h1 {
        font-size: 30px;
    }

    .user-info {
        font-size: 15px; /* Zvýšená velikost písma pro lepší čitelnost */
    }

    main {
        padding: 10px;
    }

    .note-form {
        width: 90%; /* Zvětšení šířky formuláře pro lepší použitelnost na menších zařízeních */
        margin: 10px auto; /* Centrování formuláře */
        padding: 10px;
        border: 1px solid #ccc;
        background-color: #f9f9f9;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
    }

    .note {
        margin: 10px 0;
        padding: 5px;
        overflow: hidden;
    }

    .note-form.expanded {
        max-height: none;
    }

    .note-form input[type="text"],
    .note-form textarea {
        width: 80%; /* Zvětšení šířky vstupních polí na 100% pro lepší použitelnost na menších zařízeních */
        margin-bottom: 5px;
    }

    .user-info {
        position: static;
        margin-top: 10px;
    }
}